/* Header section */

.container {
    margin: 0;
}


.main-pic {
    width: 200px;
    border-radius: 100%;
    margin: 5%;
    border: 5px solid #056676;
    
}


#main-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 200;
  font-size: 4rem;
  margin-top: 5%;
}

.about {
    background-color: #5eaaa8;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.xp {
    background-color: #e8ded2;
}

.about-me {
    color: #056676;
    font-family: 'Alata', sans-serif;
}

.about-me-details {
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: #e8ded2;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    line-height: 2;
    width: 60%;
}

.contact {
    margin-top: 10%;
    color: #056676;
    font-family: 'Alata', sans-serif;
    margin-bottom: 5%;
}

.contact-details {
    display: inline-block;
    text-align: left;
    margin-left: 15%;
    margin-right: auto;
    color: #e8ded2;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 2;
    width: 60%;
}

.icon {
    margin: 5%;
}


.hobbies {
    margin-top: 10%;
    color: #056676;
    font-family: 'Alata', sans-serif;
    margin-bottom: 5%;
}

.hobbies-icon {
    padding: 0 3% 5% 3%;
    color: #e8ded2;
}


.portfolioheading {
    margin-top: 10%;
    color: #056676;
    font-family: 'Alata', sans-serif;
}

.qrcode {
    width: 150px;
    padding-bottom: 5%;
}

/* right section */

.webdevtext {
    font-family: 'Alata', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.careertext {
    padding-top: 10%;
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
}

.careertextdetails{
    font-family: 'Noto Sans JP', sans-serif;
}

.eduheading {
    padding-top: 5%;
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
}

.eduyear {
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.institute {
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
}


.skillheading {
    padding-top: 5%;
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
}

.skilltext {
    font-family: 'Noto Sans JP', sans-serif; 
}


.experienceheading {
    padding-top: 5%;
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
}


.wdtext {
    padding-top: 2%;
    font-size: 1rem;
    font-family: 'Alata', sans-serif; 
    font-weight: 900;
}


.wdevtext {
    padding-top: 2%;
    font-size: 1rem;
    font-family: 'Alata', sans-serif;
    font-weight: 900;
}

.wddetails {
    font-family: 'Noto Sans JP', sans-serif; 

}

@media(max-width: 767.98px){

    .row{
        display: flex;
        flex-direction: column-reverse;
    }

}
